<footer>
    <div class="footer__container">
        <div class="social-media">
            <h1 id="social-media__title">Мы в социальных сетях:</h1>
            <br>
            <div class="icons">
                <a href="https://vk.com/labirint_evolution">
                    <div class="icon">
                        <div id="vk"></div>&nbsp;
                        <h1>Вконтакте</h1>
                        &nbsp;&nbsp;
                    </div>
                </a>
                <br><br>
                <a href="https://www.instagram.com/labirint_evolution/">
                    <div class="icon">
                        <div class="icon" id="instagram"></div>&nbsp;
                        <h1>Instagram</h1>
                        &nbsp;&nbsp;
                    </div>
                </a>
                <br><br>
                <a href="https://www.youtube.com/user/rinat1021967">
                    <div class="icon">
                        <div class="icon" id="youtube"></div>&nbsp;
                        <h1>YouTube</h1>
                        &nbsp;&nbsp;
                    </div>
                </a>
            </div>
        </div>

        <div id="contacts">
            <h1>
                Контакты:
            </h1>
            {{!-- <br><br> --}}
            <h1 id="contacts__content">
                <span>почта:</span> Labyrinth@gmail.com<br><br>
                <span>телефон:</span> 8-927-236-36-27
            </h1>
        </div>
    </div>
    <h1>© 2020 Labyrinth.ru - все права защищены</h1>
</footer>