
<div class="sat-container">
  <div class="text-container">
    <span>404</span>
    <p>Упс... Произошла ошибка 404 - запрашиваемая вами страница не найдена!</p>
    <a href="/"><button>Вернуться на главную</button></a>
  </div>
  <div class="UFO-image-container"><img src="/img/404/404.jpg" alt="Ошибка 404, картинка НЛО"></div>
</div>