<div id="about-container">
  <div id="about-container__container">
    <h1 style="color: pink">FITNESS ЦЕНТР</h1>
  <h1>«Лабиринт» - </h1>
  <br>
  
  <p><i>ФЕДЕРАЛЬНЫЙ ЦЕНТР</i> </p>
  <p><i>ФУНКЦИОНАЛЬНОЙ ПОДГОТОВКИ,</i></p>
  <p><i>ФИТНЕССА, ЕДИНОБОРСТВ И РАЗВИТИЯ</i></p>

  <h2>
    У НАС ВЫ СМОЖЕТЕ РАЗВИТЬСЯ В
    <br>
    СЛЕДУЮЩИХ НАПРАВЛЕНИЯХ:
  </h2>
  <ul>
    <li>- Тайский бокс (Muay thai)</li>
    <li>- Бокс</li>
    <li>- MMA, Grappling</li>
    <li>- Самбо</li>
    <li>- CrossFit</li>
    <li>- "Perfect body"</li>
    <li>- детская группа "Sportsbaby"</li>
  </ul>
  <hr>
  <p>Режим работы центра:</p>
  <p>Пн-Вс: с 8.00 до 00.00</p>
  <br>
  <p>Адрес:</p>
  <p>улица Орджоникидзе, 20, Уфа</p>
  </div>
</div>

<img src="/img/aboutPage/man.png" id="about-man-img" alt="Атлет фитнесс центра 'Лабиринт'"/>