<div id="about-container">
  <div id="about-container__container">
    <h1 style="color: pink">FITNESS-ЦЕНТР</h1>
  <h1>«Лабиринт» - </h1>
  <br>
  
  <p><i>ФЕДЕРАЛЬНЫЙ ЦЕНТР</i> </p>
  <p><i>ФУНКЦИОНАЛЬНОЙ ПОДГОТОВКИ,</i></p>
  <p><i>ФИТНЕСА, ЕДИНОБОРСТВ И РАЗВИТИЯ</i></p>

  <h2>
    У НАС ВЫ СМОЖЕТЕ РАЗВИТЬСЯ В <br>
    <p> СЛЕДУЮЩИХ НАПРАВЛЕНИЯХ:</p>
  </h2>
  <ul>
    <li>- Тайский бокс (Muay thai)</li>
    <li>- Бокс</li>
    <li>- MMA, Grappling</li>
    <li>- Самбо</li>
    <li>- CrossFit</li>
    <li>- "Perfect body"</li>
    <li>- Детская группа "Sportsbaby"</li>
  </ul>
  <hr>
  <h2>Режим работы фитнес-центра:</h2>
  <p>Пн-Вс: с 08:00 до 00:00</p>
  <h2>Адрес:</h2>
  <p>г. Уфа, улица Орджоникидзе, 20</p>
  </div>
</div>

<img src="/img/aboutPage/man.png" id="about-man-img" alt="Атлет фитнесс центра «Лабиринт»"/>