// сброс всех стилей данного тега к начальным значениям
nav {
  all: initial;
}

@import "../navbar/navbar.scss";
@import "../footer/footer.scss";

body {
  background: whitesmoke;
}

*{
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
}

.ui-alert-error {
  font-size: 1.5rem;
  color: black;
  font-weight: bold;
  text-align: center;
  margin-top: 25px;
  background-color: orange;
}

.ui-alert-message {
  font-size: 1.5rem;
  color: black;
  font-weight: bold;
  text-align: center;
  margin-top: 29vh;
  background-color: rgb(79, 211, 138);
}

.auth {
  padding-top: 2rem;

  .row {
    width: 70vw;

    .auth-btn {
      width: 100%;
    }

    #forgotPassword {
      margin-top: -10px;
      margin-bottom: 15px;
    }

    h1 {
      font-size: 2.2rem;
      text-align: center;
    }
  }
}

.custom-helper-text {
  font-size: 0.9rem!important;
}

footer {
  margin-top: calc(100vh - 100vh*0.9);
}
