@charset "UTF-8";
nav {
  all: initial;
}

#top-navbar {
  background-color: rgba(1, 1, 1, 0.8);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  position: -webkit-sticky;
  position: sticky;
  z-index: 110;
  top: 0;
  right: 0;
  left: 0;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#top-navbar a:hover {
  color: #F3AEAE;
}

#top-navbar #navbar__menu-toggler {
  margin-left: 20px;
}

@media (min-width: 1200px) {
  #top-navbar #navbar__menu-toggler {
    display: none;
  }
}

#top-navbar #top-navbar__collapse {
  background: transparent;
  list-style-type: none;
  padding: 0;
  top: 0;
  margin: 0 auto;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#top-navbar #top-navbar__collapse li a {
  color: white;
  display: block;
  padding: 20px;
  text-decoration: none;
  font-size: 1.1rem;
}

#top-navbar #top-navbar__collapse .dropdown {
  position: relative;
}

#top-navbar #top-navbar__collapse .dropdown:hover .dropdown__content {
  display: block;
}

#top-navbar #top-navbar__collapse .dropdown__content {
  background-color: rgba(1, 1, 1, 0.8);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: none;
  min-width: 200px;
  position: absolute;
  padding: 10px;
  margin-top: 2px;
}

#top-navbar #top-navbar__collapse .dropdown__content a {
  color: white;
  font-size: 1.2rem;
}

@media (max-width: 1200px) {
  #top-navbar #top-navbar__collapse {
    display: none;
  }
}

#sm-container-sidebar {
  display: block;
  background-color: rgba(24, 25, 29, 0.95);
  position: fixed;
  top: 0;
  left: -35vw;
  z-index: 1000;
  width: 35vw;
  height: 100vh;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@media (max-width: 576px) {
  #sm-container-sidebar {
    left: -70vw;
    width: 70vw;
  }
}

#sm-container-sidebar #sm-sidebar {
  display: block;
  background-color: transparent;
  height: 100vh;
  width: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  top: 0;
}

#sm-container-sidebar #sm-sidebar #sidebar__items {
  float: left;
  font-size: 2rem;
  padding-left: 3rem;
  padding-top: 1rem;
  list-style: none;
}

@media (max-width: 992px) {
  #sm-container-sidebar #sm-sidebar #sidebar__items {
    padding-left: 1rem;
  }
}

@media (max-width: 992px) and (max-width: 768px) {
  #sm-container-sidebar #sm-sidebar #sidebar__items {
    padding-left: 1.25rem;
    font-size: 1.5rem;
  }
}

#sm-container-sidebar #sm-sidebar #sidebar__items li {
  margin-top: 3rem;
}

#sm-container-sidebar #sm-sidebar #sidebar__items li a {
  color: white;
  text-decoration: none;
}

#sm-container-sidebar #navbar__menu-close {
  float: right;
  z-index: 1001;
}

footer {
  width: 100%;
  min-height: 350px;
  background-color: black;
  padding-top: 70px;
}

footer .footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  footer .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

footer .footer__container h1 {
  font-size: 1.35rem;
}

@media (max-width: 576px) {
  footer .footer__container h1 {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  footer .footer__container #contacts {
    margin-top: 50px;
  }
}

@media (max-width: 768px) and (max-width: 576px) {
  footer .footer__container #contacts {
    margin-top: 20px;
  }
}

footer .footer__container #contacts h1 {
  text-align: left;
}

@media (max-width: 768px) {
  footer .footer__container #contacts h1 span {
    display: none;
  }
}

@media (max-width: 768px) {
  footer .footer__container #contacts h1 {
    text-align: center;
  }
}

footer .footer__container #contacts__content {
  margin: 20px 0 20px 0;
}

footer .social-media {
  margin-right: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 768px) {
  footer .social-media {
    margin-right: 0;
  }
}

footer .social-media .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 768px) {
  footer .social-media .icons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

footer .social-media .icons a {
  text-decoration: none;
}

footer .social-media .icons .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  row-gap: 10px;
}

footer .social-media .icons .icon h1 {
  padding-top: 2px;
}

footer .social-media .icons #vk {
  width: 32px;
  height: 32px;
  background-image: url("/img/Footer/vk.png");
  background-repeat: no-repeat;
  background-position: center;
}

footer .social-media .icons #instagram {
  width: 32px;
  height: 32px;
  background: url("/img/Footer/instagram.png");
  background-repeat: no-repeat;
  background-position: center;
}

footer .social-media .icons #youtube {
  width: 32px;
  height: 32px;
  background: url("/img/Footer/youtube.png");
  background-repeat: no-repeat;
  background-position: center;
}

footer h1 {
  color: #A5A5A5;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
}

body {
  background: whitesmoke;
}

* {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
}

.main-container {
  margin-top: 0;
  padding: 20px;
}

body {
  font-family: Helvetica Neue, Arial, sans-serif;
  font-size: 14px;
  color: #444;
}

.material-icons {
  display: none;
}

#example_wrapper {
  width: 700px;
  margin: 0 auto;
}

.panel-title {
  color: black !important;
  font-size: 3.5rem !important;
}

@media (max-width: 576px) {
  .panel-title {
    font-size: 2.5rem !important;
  }
}

.info-container {
  margin-top: 70px;
  margin-bottom: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

@media (max-width: 1200px) and (max-width: 992px) and (max-width: 786px) and (max-width: 576px) {
  .info-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 35px;
    margin-bottom: 70px;
  }
}

.info-container .info-block {
  width: 420px;
  height: 250px;
  border-radius: 15px;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 21px -4px #000000;
          box-shadow: 0px 2px 21px -4px #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}

.info-container .info-block .data-from-db {
  font-size: 4rem;
  color: black;
}

.info-container .info-block .info-block_title {
  font-size: 1.3rem;
  padding-left: 10px;
}

@media (max-width: 1200px) and (max-width: 992px) and (max-width: 786px) and (max-width: 576px) {
  .info-container .info-block {
    width: 90%;
  }
}

.table-block-title {
  font-size: 2.2rem !important;
}

@media (max-width: 576px) {
  .table-block-title {
    font-size: 1.5rem !important;
  }
}

.orders-title {
  text-align: center;
  margin: 45px 0 45px 0;
}

.blocks-grid-container {
  background-color: transparent;
  /* #18191d  3d3a78 */
  width: 100%;
  min-height: 500px;
  padding: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 600px))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 600px));
  /* Неявный грид */
  grid-auto-rows: 350px;
  grid-gap: 30px;
}

.order-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 30px 10px 30px;
  border-radius: 15px;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 8px 5px rgba(0, 0, 0, 0.44);
          box-shadow: 0px 4px 8px 5px rgba(0, 0, 0, 0.44);
  font-size: 1.2rem !important;
}

.order-item > span {
  margin-bottom: 10px;
}

.order-item .order-data {
  color: #d18080;
}

.order-item .order-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.order-item .order-price .b-price-container {
  margin-right: auto;
}

.order-item .order-price .b-price-container .price {
  margin-left: 15px;
}

.order-item .order-price .orders-confirm-btn {
  margin-left: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  background-color: whitesmoke;
  border: 0;
  border-radius: 10px;
  color: #f16c37;
  font-size: 1.2rem !important;
}

.order-item .order-price .confirmed {
  color: #0bb142 !important;
  border: 1px solid #0bb142;
  outline: none;
}
/*# sourceMappingURL=adminPanel.css.map */