#top-navbar {
  background-color: rgba(1, 1, 1, 0.8);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  position: -webkit-sticky;
  position: sticky;
  z-index: 110;
  top: 0;
  right: 0;
  left: 0;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#top-navbar a:hover {
  color: #F3AEAE;
}

#top-navbar #navbar__menu-toggler {
  margin-left: 20px;
}

@media (min-width: 1200px) {
  #top-navbar #navbar__menu-toggler {
    display: none;
  }
}

#top-navbar #top-navbar__collapse {
  background: transparent;
  list-style-type: none;
  padding: 0;
  top: 0;
  margin: 0 auto;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#top-navbar #top-navbar__collapse li a {
  color: white;
  display: block;
  padding: 20px;
  text-decoration: none;
  font-size: 1.1rem;
}

#top-navbar #top-navbar__collapse .dropdown {
  position: relative;
}

#top-navbar #top-navbar__collapse .dropdown:hover .dropdown__content {
  display: block;
}

#top-navbar #top-navbar__collapse .dropdown__content {
  background-color: rgba(1, 1, 1, 0.8);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: none;
  min-width: 200px;
  position: absolute;
  padding: 10px;
  margin-top: 2px;
}

#top-navbar #top-navbar__collapse .dropdown__content a {
  color: white;
  font-size: 1.2rem;
}

@media (max-width: 1200px) {
  #top-navbar #top-navbar__collapse {
    display: none;
  }
}

#sm-container-sidebar {
  display: block;
  background-color: rgba(24, 25, 29, 0.95);
  position: fixed;
  top: 0;
  left: -35vw;
  z-index: 1000;
  width: 35vw;
  height: 100vh;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@media (max-width: 576px) {
  #sm-container-sidebar {
    left: -70vw;
    width: 70vw;
  }
}

#sm-container-sidebar #sm-sidebar {
  display: block;
  background-color: transparent;
  height: 100vh;
  width: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  top: 0;
}

#sm-container-sidebar #sm-sidebar #sidebar__items {
  float: left;
  font-size: 2rem;
  padding-left: 3rem;
  padding-top: 1rem;
  list-style: none;
}

@media (max-width: 992px) {
  #sm-container-sidebar #sm-sidebar #sidebar__items {
    padding-left: 1rem;
  }
}

@media (max-width: 992px) and (max-width: 768px) {
  #sm-container-sidebar #sm-sidebar #sidebar__items {
    padding-left: 1.25rem;
    font-size: 1.5rem;
  }
}

#sm-container-sidebar #sm-sidebar #sidebar__items li {
  margin-top: 3rem;
}

#sm-container-sidebar #sm-sidebar #sidebar__items li a {
  color: white;
  text-decoration: none;
}

#sm-container-sidebar #navbar__menu-close {
  float: right;
  z-index: 1001;
}
/*# sourceMappingURL=navbar.css.map */